.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.item {
  background-color: #5e5e5e;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* p {
  background-color: red;
} */

/* span {
  display: block;
  background-color: green;
} */

.color-span {
  background-color: purple;
}

.odd {
  background-color: lime;
}
.even {
  background-color: yellow;
}

.number-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.number {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}
