.section {
    padding: 80px 0;
}
.container {
    min-width: 768px;
    margin: 0 auto;
    padding: 16px;
}
.title {
    text-align: center;
    margin-top: 0;
}
.section-list {
    margin: 0;
    padding: 0;
    list-style: none;

    /*grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}
.list-item {
    border-radius: 16px;
    overflow: hidden;
}
.section-list-img {
    display: block;
    max-width: 100%;
    height: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.btn {
    cursor: pointer;
    padding: 8px 16px;
    background-color: transparent;
    border: 3px solid rebeccapurple;
    border-radius: 16px;
    color: rebeccapurple;
    transition: 200ms linear;
    display: block;
    margin: 32px auto 0;

    &:hover {
        background-color: rebeccapurple;
        color: #ffffff;
    }
}

.modal {
    max-width: 480px;
    border: 1px solid;
    padding: 28px;
    border-radius: 16px;

    &::backdrop {
        background-image: linear-gradient(
            45deg,
            magenta,
            rebeccapurple,
            dodgerblue,
            green
        );
        opacity: 0.4;
    }
}

.modal-form {
    display: flex;
    gap: 16px;
}
.modal-form-label {
}
.label-desc {
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
}
.modal-form-input {
    width: 100%;
}
.modal-form-field {
    width: 100%;
    resize: none;
}
.modal-form-btn {
}
